.dropdown {
    display: flex;
    flex-direction: column;
    /*width: 75%;
    padding-left: 250px;  */
}

.dropdown_content {
    width: 76%;
    height: auto;
    border-radius: 5px;
    background-color: #F6F6F6;
    color: #FF6060;
    padding: 50px 0 50px 50px;
    margin-left: 220px
}

.dropdown_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 60px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: #FF6060;
    color: #FFFFFF;
    margin-left: 220px;
}

.dropdown_hidden {
display: none;
}

.dropdown_arrow {
    width: 12px;
    height: 12px;
}

.dropdown_arrow_rotate {
    transform: rotate(180deg);
    transition: transform 500ms;
}

.dropdown_title {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF
}


/*@media screen and (min-width: 345px) and (max-width: 767px)*/