
.banner {
position: relative;
padding-left: 10%;
padding-right: 10%;
margin-bottom: 60px;
}

.banner_img {
    width: 100%;
    height: 223px;
    border-radius: 25px;
    filter: brightness(0.75);
}

.banner_title {
    position: absolute;
    top: 25%;
    left: 35%;
    transform: translate(-50% -50%);
    font-family: 'Montserrat';
    font-style: normal;
    color: #ffffff;
    size: 48px;
    font-weight: 500px;
    line-height: 70px;
    width: 100%;
}

@media all and (max-width:768px) {
    .banner {
        border-radius: 10px;
        height: 111px;
        width: 90%;
        justify-content: flex-start;
    }

    .banner_title {
        font-size: 24px;
        min-width: 220px;
        left: 9%;
        width: 40%;
    }

    .banner_img {
        min-width: 220px;
        width: 100%;
    }
}

