* {
    padding-left: 10%;
}

.carousel {
   position: relative; 
   margin-top: 30px;
   padding-left: 10%
 
}

.carousel_img {
    width: 95%;
    height: 415px;
    border-radius: 25 px;
    object-fit: cover;
}

.carousel_controls {
    color: white;
}

.carousel_index{
    color: white;
}


