.carousel {
    position: relative;
    margin-top: 30px;
    padding-left: 10%;
}

.carousel_img {
    width: 95%;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
}

.carousel_arrow_left,  .carousel_arrow_right{
    cursor: pointer;
    height: 40px;
    position: absolute;
    top: 50%
}

.carousel_arrow_right {
   left: 315px; 
}

.carousel_arrow_left {
    left: 40px;
}

.carousel_index {
    color: #ffffff;
    font-size: 18px;
    top: 88%;
    left: 49%;
    position: absolute;
}

@media all and (max-width: 768px) {
.carousel_arrow_right {
    left: 315px;
}

.carousel_arrow_left {
    left: 40px;
}
}