body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mainDropdown {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    margin-bottom: 50px;
}

.dropdown {
    margin-bottom: 25px;
}

.dropdown_title_arrow {
    display: flex;
    justify-content: space-between;
    background-color: #FF6060;
    padding: 5px;
    height: 50px;
    align-items: center;
}

.dropdown_content {
    width: 95.7%;
    height: auto;
    border-radius: 5px;
    background-color: #F6F6F6;
    color: #FF6060;
    padding: 40px 10px 40px 40px;
    margin-top: -5px;
}

.dropdown_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: #FF6060;
    color: #FFFFFF;
}

.dropdown_hidden {
display: none;
}

.dropdown_arrow {
    width: 20px;
    height: 20px;
}

.dropdown_title {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

/* Tablet styles */
@media only screen and (max-width: 1024px) {
    .mainDropdown {
        margin-left: 5%;
        margin-right: 5%;
    }

    .dropdown_title_arrow {
        height: 40px;
        font-size: 16px;
    }

    .dropdown_button {
        height: 50px;
        font-size: 16px;
    }
}

/* Smartphone styles */
@media only screen and (max-width: 768px) {
    .mainDropdown {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        margin-top: -20px;
    }

    .dropdown_title_arrow {
        height: 30px;
        font-size: 14px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .dropdown_button {
        height: 40px;
        font-size: 14px;
    }

    .dropdown_content {
        padding: 20px 5px 20px 20px;
        width: 82%;
        margin-left: 5%;
    }
}