body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.error_section {
    text-align: center;
    color: #FF6060;
    height: 65%;
}

.error_title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 288px;
    color: #FF6060;
}

.error_h1 {
margin-top: 60px;
margin-bottom: 0px;
}

.error_p {
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
    margin-top: 0;
}

.error_back_home {
text-decoration: underline;
color: #FF6060;
font-size: 18px;
}

/* Responsive design */
@media all and (max-width: 812px) {
    .error_title {
        font-size: 96px;
    }

    .error_p {
        font-size: 18px;
        text-align: center;
    }

    .error_back-home {
        font-size: 14px;
    }
}
