
.section_details_host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.host_profile {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.host_name {
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
    text-align: right;
    color: #FF6060;
    width: 93px;
}

.host_img {
    width: 64px;
    height: 64px;
    border-radius: 100%;
}

/* Smartphone styles */
@media all and (max-width: 767px) {
    .section_details_host {
        margin-top: 1.5rem;
    }

    .host_profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    .host {
        display: flex;
        align-items: center;
    }

    .host_rating {
        margin-left: 10px;
        margin-right: 50px;
    }
    
    .host_name {
        margin-right: 20px;
        margin-left: 140px;
    }

    .host_img {
        width: 48px;
        height: 48px;
    }

}