
.section_details {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 90%; 
    padding-left: 10%;
}

.section_details_property {
    width: 70%;
    margin: 20px 0;
}

.property_title {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
    color: #FF6060
}

.property_location {
    font-size: 18px;
    color: #FF6060
}

.property_tags {
    display: flex;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #fff;
    background-color: #FF6060;
    border-radius: 10px;
    height: 25px;
    width: auto;
    padding: 10px; 
    margin: 20px 20px 30px 0
}

.host_rating {
    margin-right: 190px;
    margin-top: 65px;
}

.fullStar,
.emptyStar {
    width: 30px;
    height: 30px;
}

.dropdown_property {
    font-size: 18px;
    margin-left: 10%; 
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown_property_banner {
   width: 45%;
}

.dropdown_property_title {
    font-size: 18px;
    width: 35%
}

.dropdown_property_description {
    list-style-type: none;
    padding-left: 0;
    font-size: 18px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .section_details {
        flex-direction: column;
        align-items: center;
        width: 80%
    }

    .section_details_property {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .property_title {
        font-size: 28px;
        line-height: 40px;
    }

    .property_location {
        font-size: 16px;
    }

    .tag {
        font-size: 12px;
        margin: 10px 10px 20px 0;
    }

    .host_rating {
    margin: -50px auto 30px 10px
    }

    .fullStar, .emptyStar {
    width: 15px;
    height: 15px;
    }

    .dropdown_property {
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    font-size: 16px;
    width: auto
    }

    .dropdown_property_banner {
    width: 80%
    }

    .dropdown_property_item {
    font-size: 16px;
    margin-bottom: 10px;
    }

    .dropdown_property_description {
    font-size: 16px;
    }
}