.property_title {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
    color: #FF6060
}

.property_location {
    font-size: 18px;
}

.property_tags {
    width: 115px;
    height: 25px;
    border-radius: 10px;
    background-color: #FF6060;
}

.tag {
    color: #FF6060;
}

.host {
        display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
}

.host_profile {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.host_name {
    font-size: 18px;
        font-weight: 500;
        margin-right: 20px;
        text-align: right;
        color: #FF6060;
        width: 93px;
}

.host_img {
        width: 64px;
            height: 64px;
            border-radius: 100%;
}

.host_rating {
    margin-right: -20px;
}